<!DOCTYPE html>
<html>
  <head>
    <title>Delete Account</title>
  </head>
  <body>
      <a href="/#!/">Home</a>
	  <a href="/browse">Browse</a>
	  <a href="/signout">Sign out</a>
	
    <h1>
    Account Services
    </h1>
    
    <div>
        <input type="button" onclick="location.href='http://localhost:3000/deleted';" value="Confirm Delete?"/>
    </div>  
  </body>
</html>

