<!DOCTYPE html>
<html>
  <head>
    <title>Account removed</title>
  </head>
  <body>
      <a href="/#!/">Home</a>
	
    <h1>
    Your account has been removed.
    </h1>
    
    <div>
    </div>  
  </body>
</html>
