<!DOCTYPE html>
<html>
<head>
  <title>
    Forgot Password
  </title>
</head>
  <body>
    <a href="/#!/">Home</a>
    <form>  
      <div>
        <h2>
          Input email for reset instructions
        </h2>
        <label>Email:</label><br>
        <input type="text" name="email" />
      </div>
      <br>
      <div>
        <button onclick="warn()">Send Instructions</button>
		<script>
function warn() {
    alert("Feature not IMP");
}
		</script>
      </div>
    </form>
  </body>
</html>