<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <title><%= title %></title>
  </head>
  <body>
	<h1>
    Welcome to the 421 Book DB
    </h1>
  
    <% if ( userFullName ) { %>
      <h2>Hello <%=userFullName%> </h2>
      <a href="/account">Account</a>
	  <a href="/browse">Browse</a>
	  <a href="/signout">Sign out</a>
    <% } else { %>
      <a href="/signup">Signup</a>
      <a href="/signin">Signin</a>
      <a href="/browse">Browse</a>
    <% } %>
  
    
    
   <section ng-view></section>
        
    <script type="text/javascript"
  src="/lib/angular/angular.js">
    </script>
   
    <script type="text/javascript"
  src="/lib/angular-route/angular-route.js">
    </script>
    
    <script type="text/javascript"
  src="/example/example.client.module.js">
    </script>
    
    <script type="text/javascript"
  src="/application.js">
    </script>
    
    <script type="text/javascript"
  src="/example/config/example.client.routes.js">
    </script>
  
    <script type="text/javascript"
  src="/example/controllers/example.client.controller.js">
    </script>
    
  </body>
</html>