<!DOCTYPE html>
<html>
<head>
  <title>
    <%=title %>
  </title>
</head>
<body>
  
  <a href="/#!/">Home</a>
  <h2>
    Enter user name and password to login:
  </h2>
  
  <% for(var i in messages) { %>
    <div class="flash"><%= messages[i] %></div>
  <% } %>
  <form action="/signin" method="post">
    <div>
      <label>Username:</label><br>
      <input type="text" name="username" />
    </div>
    <div>
      <label>Password:</label><br>
      <input type="password" name="password" />
    </div>
    <div><br>
      <input type="submit" value="Sign In" />
    </div>
    <br>
    <a href="/forgotpass">Forgot Password?</a>
  </form>
</body>
</html>